.header {
  background-color: #69bb20;
  box-shadow: 0 0 10px #999;
  margin-bottom: 20px;
}
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.github {
  font-size: 20px;
  font-weight: bold;
}
