.ulBox {
  width: 110px;
  background-color: #e8e8e8;
  position: absolute;
  top: 0;
  transform: translateX(calc(-100% - 20px));
  box-shadow: 0 0 10px #dedede;
}
.liItem {
  color: #666;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}
.active {
  color: #fff;
  background-color: #ff4d4d;
}
