html,
body,
div,
ul,
li,
span,
input,
button,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
form,
fieldset,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}
pre {
  background-color: #f1f2f3;
  line-height: 28px;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #333;
}
a:active {
  color: #333;
}
a:hover {
  color: #333;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.h60 {
  height: 60px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.es {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.m-b-20 {
  margin-bottom: 20px;
}
.details ul,
.details ol {
  padding-left: 20px;
}
.details ol li {
  list-style: decimal;
}
