.main {
  position: relative;
}
.liItem {
  max-height: 120px;
  box-shadow: 0 0 10px #dedede;
  border-radius: 3px;
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}
.liItem pre {
  background-color: #fff;
}
.blogTitle {
  margin-bottom: 10px;
}
